<html>
<head>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
<style>
div.ReportCreated {
    text-align: right;
    padding-right: 5em;
    Font-Family:"Calibri"
}
div.mysection {
    border: 1px solid #b97f2b;
    padding-bottom: 12px;
    display: inline-block;
    margin: 5px;
    width: 98%;
}
div.myheader {
    padding: 4px 5em 0 5px;
    margin: 0 0 0 0;
    height: 2em;
    font-weight: 700;
    color: #fff;
    background-color: #34399a;
}
TD {
    font-family:"Calibri";
}
TH {
    font-family:"Calibri";
}
H3 {
    font-family:"Calibri";
}

</style>
</head>
<body>
    <p></p>
    <h2>#REPORT TITLE#</h2>
    <Div class="ReportCreated">Report created on: #REPORT CREATED#</Div>
#BODY#
</body>
</html>
